[Unit]
Description=AOS Message Proxy
Wants=network-online.target aos-iam.service
After=network-online.target aos-iam.service
ConditionPathExists=!/var/aos/.provisionstate
PartOf=aos.target

[Service]
Type=notify
ExecStart=/usr/bin/aos_mp_app -c /etc/aos/aos_mp.cfg -provisioning -v debug -j
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
