[Unit]
Description=AOS Service Manager
Wants=network-online.target dbus.service aos-iam.service
After=network-online.target dbus.service aos-iam.service
ConditionPathExists=/var/aos/.provisionstate
PartOf=aos.target

[Service]
Type=notify
ExecStart=/usr/bin/aos_sm_app -c /etc/aos/sm.cfg -v debug -j
ExecStop=/bin/sh -c "/bin/kill -s TERM $MAINPID; while [ -d /proc/$MAINPID ]; do sleep 1; done"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
