[Unit]
Description=Remote quota server
Documentation=man:rpc.rquotad(8)
Requires=rpcbind.service
PartOf=rpcbind.service
After=rpcbind.service

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.rquotad

[Install]
WantedBy=multi-user.target
WantedBy=nfs-server.service
